.app__traitdetailsview {
  display: grid;
  grid-template-rows: 145px 1fr auto;
  width: 100%;
}
.app__traitdetailsview-header {
  display: flex;
  height: 145px;
  width: 100%;
  gap: 1rem;
  overflow: hidden;
}

.app__traitdetailsview-body {
  display: grid;
  grid-template-columns: 205px auto;
  gap: 16px;
}

.app__traitdetailsview-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.app__traitdetailsview-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.app__traitdetailsview-tier {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: auto 0 1rem auto;
}

.app__traitdetailsview-stats-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.app__traitdetailsview-stats-item dt {
  margin-right: 10px;
}

.app__traitdetailsview-trait img {
  display: flex;
  width: 120px;
  height: 120px;
  border: 3px solid white;
}
