.app__register {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: var(--color-primary);
}

.app__register-form {
  width: 400px;
  height: fit-content;
  margin-top: 3rem;
  border-radius: 0.375rem;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-lightred);
  padding: 4rem;
}

.app__register-form-heading {
  margin-bottom: 2rem;
}

.app__register-form-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app__register-form button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  padding: 0.5rem;
  background-color: var(--color-primary);
  border: 1px solid var(--color-lightred);
  cursor: pointer;
}

.app__register-form-button:hover {
  border-color: var(--color-gold);
}

.app__register-form-error {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  padding: 0.75rem;
  background: rgb(255, 135, 135);
}

.app__register-form-error-list {
  display: flex;
  flex-direction: column;
  gap: 0.325rem;
}

.app__register-form-redirect {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.95rem;
}

.app__register-form-redirect-link {
  color: rgb(59 130 246);
}
.app__register-form-redirect-link:hover {
  text-decoration: underline;
}
