.app__trait {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: var(--color-primary);
  border-radius: 5px;
}

.app__trait img {
  width: 20px;
}
.app__trait p {
  margin: 6px 0px 6px 6px;
}
