:root {
  --header-height: 55px;
  --sidebar-width: 200px;
  --sidebar-section-width: 50px;
  --sidebar-links-width: 150px;
  --hex-width: 13.26530612244898%;

  --font-base: "Open Sans", sans-serif;

  --color-input-placeholder: #686868;

  --color-primary: #350c16;
  --color-hover-primary: #500d20;
  --color-secondary: #240204;
  --color-lightred: #df075a;
  --color-hover-lightred: #ffffff;
  --color-gold: #f2bf43;
  --color-hover-secondary: #52151c;

  --color-tier1: #afafaf;
  --color-tier2: #1bc660;
  --color-tier3: #0b6cc3;
  --color-tier4: #f947c6;
  --color-tier5: #fe8900;
  --color-kayle: #1f1f1f;

  --color-augment-tier1: #aaa8be;
  --color-augment-tier2: #e5a109;
  --color-augment-tier3: conic-gradient(
      from 180deg at 50% 50%,
      rgb(181, 249, 177) -25.61deg,
      rgb(174, 167, 248) 0.63deg,
      rgb(185, 232, 188) 27.2deg,
      rgb(246, 254, 216) 56.21deg,
      rgb(199, 251, 247) 83.01deg,
      rgb(154, 240, 254) 109.35deg,
      rgb(245, 236, 255) 129.56deg,
      rgb(248, 153, 248) 154.85deg,
      rgb(182, 252, 227) 181.24deg,
      rgb(126, 147, 242) 210.86deg,
      rgb(225, 164, 253) 244.3deg,
      rgb(175, 230, 240) 264.6deg,
      rgb(243, 241, 199) 287.41deg,
      rgb(233, 159, 126) 306.52deg,
      rgb(181, 249, 177) 334.39deg,
      rgb(174, 167, 248) 360.63deg
    )
    1 / 1 / 0 stretch;

  --color-trait-tier1: rgb(68, 45, 0);
  --color-trait-tier1-border: rgb(110, 73, 0);
  --color-trait-tier2: rgb(114, 114, 114);
  --color-trait-tier2-border: rgb(103, 103, 103);
  --color-trait-tier3: rgb(165, 124, 0);
  --color-trait-tier3-border: rgb(220, 165, 0);
  --color-trait-tier4: conic-gradient(
    from 180deg at 50% 50%,
    rgb(181, 249, 177) -25.61deg,
    rgb(174, 167, 248) 0.63deg,
    rgb(185, 232, 188) 27.2deg,
    rgb(246, 254, 216) 56.21deg,
    rgb(199, 251, 247) 83.01deg,
    rgb(154, 240, 254) 109.35deg,
    rgb(245, 236, 255) 129.56deg,
    rgb(248, 153, 248) 154.85deg,
    rgb(182, 252, 227) 181.24deg,
    rgb(126, 147, 242) 210.86deg,
    rgb(225, 164, 253) 244.3deg,
    rgb(175, 230, 240) 264.6deg,
    rgb(243, 241, 199) 287.41deg,
    rgb(233, 159, 126) 306.52deg,
    rgb(181, 249, 177) 334.39deg,
    rgb(174, 167, 248) 360.63deg
  );
  --color-trait-tier4-border: rgb(174, 167, 248);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
}

button {
  outline: none;
  border: none;
  background: none;
}

a {
  color: unset;
  text-decoration: none;
}

svg {
  flex: 0 0 auto;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-button:single-button {
  background-color: var(--color-secondary);

  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
  height: 12px;
  width: 12px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  height: 12px;
  width: 12px;
  background-position: 3px 3px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-lightred);
  border-width: 3px;
  border-style: solid;
  border-color: var(--color-secondary);
}

@media screen and (min-width: 2000px) {
  :root {
    --header-height: 65px;
  }
}

@media screen and (max-width: 1100px) {
  :root {
    --sidebar-width: 50px;
  }
}

@media screen and (max-width: 750px) {
  :root {
    --header-height: 50px;
    --sidebar-width: 50px;
  }
}
