.app__sidebarlink {
  width: 100%;
  border-bottom: 1px solid var(--color-primary);
  cursor: pointer;
}

.app__sidebarlink-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.app__sidebarlink-container p {
  position: relative;
}

.app__sidebarlink-container p::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.app__sidebarlink-container:hover p::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
