.app__searchbar {
  flex: 1 1;
  display: flex;
  width: 100%;
  min-width: 150px;
  max-width: 400px;
  height: 32px;
  background-color: var(--color-primary);
  border-radius: 5px;
  overflow: clip;
  border: 1px solid var(--color-lightred);
}

.app__searchbar:hover,
.app__searchbar:hover .app__searchbar-icon,
.app__searchbar:focus-within,
.app__searchbar:focus-within .app__searchbar-icon {
  border-color: var(--color-gold);
}
.app__searchbar:hover .app__searchbar-icon svg,
.app__searchbar:focus-within .app__searchbar-icon svg {
  color: var(--color-gold);
}

.app__searchbar-icon svg {
  color: var(--color-lightred);
}

.app__searchbar-input {
  display: flex;
  width: 100%;
}

.app__searchbar-input input {
  display: flex;
  width: 100%;
  padding-left: 5px;
  background-color: var(--color-primary);
  border: none;
  font-family: var(--font-base);
  color: white;
}

.app__searchbar-input input:focus {
  outline: none;
}

.app__searchbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  border-left: 1px solid var(--color-lightred);
}

.app__searchbar-icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .app__searchbar {
    max-width: none;
  }
}

@media screen and (max-width: 550px) {
  .app__searchbar {
    margin-right: unset;
  }
}
