.error-modal {
  max-width: 400px;
  position: fixed;
  top: calc(1rem + var(--header-height));
  right: 1rem;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-lightred);
  z-index: 1000;
  animation: bounceInRight 0.5s ease-in-out forwards;
}

.error-modal-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.error-modal-progress-bar {
  position: relative;
  height: 5px;
  background-color: var(--color-secondary);
  margin-top: 8px;
  border-radius: 5px;
  overflow: hidden;
}

.error-modal-progress {
  height: 100%;
  background-color: white;
  width: 0;
  animation: progressAnimation 3s linear forwards;
}

@keyframes progressAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  60% {
    opacity: 1;
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
