.page_padding {
  padding: 3rem;
}

.page_background {
  background-color: var(--color-primary);
  min-height: calc(100vh - var(--header-height));
}

.p__opensans {
  font-family: var(--font-base);
  color: white;
}

.p__opensans-small {
  font-family: var(--font-base);
  color: white;
  font-size: 12px;
}

.p__opensans-xs {
  font-family: var(--font-base);
  color: white;
  font-size: 10px;
}

.p__gray {
  color: #b4b4b4;
}

.p__desc-text {
  font-size: 12px;
  color: lightgray;
  font-family: var(--font-base);
}

.p__opensans-title {
  font-family: var(--font-base);
  color: white;
  font-size: large;
}

.p__opensans-title-md {
  font-family: var(--font-base);
  color: white;
  font-size: 16px;
}

.p__opensans-title-large {
  font-family: var(--font-base);
  color: white;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.p__bold {
  font-weight: bold;
}

.gradient-purple {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at -30% -80%,
    rgba(36, 2, 4, 1) 30%,
    rgba(36, 2, 4, 1) 40%,
    rgba(223, 7, 90, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at -30% -80%,
    rgba(36, 2, 4, 1) 30%,
    rgba(36, 2, 4, 1) 40%,
    rgba(223, 7, 90, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at -30% -80%,
    rgba(36, 2, 4, 1) 30%,
    rgba(36, 2, 4, 1) 40%,
    rgba(223, 7, 90, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at -30% -80%,
    rgba(36, 2, 4, 1) 30%,
    rgba(36, 2, 4, 1) 40%,
    rgba(223, 7, 90, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at -30% -80%,
    rgba(36, 2, 4, 1) 30%,
    rgba(36, 2, 4, 1) 40%,
    rgba(223, 7, 90, 1) 100%
  );
}

.gradient-purple-alt {
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 50% 50%, rgba(36, 2, 4, 1) 25%, rgba(223, 7, 90, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 50% 50%, rgba(36, 2, 4, 1) 25%, rgba(223, 7, 90, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 50% 50%, rgba(36, 2, 4, 1) 25%, rgba(223, 7, 90, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 50% 50%, rgba(36, 2, 4, 1) 25%, rgba(223, 7, 90, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 50% 50%, rgba(36, 2, 4, 1) 25%, rgba(223, 7, 90, 1) 100%);
}

@media screen and (min-width: 1800px) {
  .page_padding {
    padding: 3rem 16rem 3rem 16rem;
  }
}

@media screen and (min-width: 2000px) {
  .page_padding {
    padding: 3rem 24rem 3rem 24rem;
  }
}

@media screen and (max-width: 800px) {
  .page_padding {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .page_padding {
    padding: 1.5rem 0.5rem;
  }
}
