.app__dropdownselection {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  position: relative;
  max-height: 32px;
  height: 32px;
  max-width: 250px;
  z-index: 2;
  user-select: none;
}

.app__dropdownselection-button {
  display: flex;
  width: 100%;
  height: 32px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  background-color: var(--color-primary);
  border-color: var(--color-lightred);
  color: white;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.app__dropdownselection-button:hover,
.app__dropdownselection-button.active {
  border-color: var(--color-gold);
}

.app__dropdownselection-button.active {
  border-width: 1px 1px 0px 1px;
  border-radius: 5px 5px 0px 0px;
}

.app__dropdownselection-button-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.app__dropdownselection-button-container p {
  display: flex;
  font-size: 12px;
  width: 100%;
  min-width: fit-content;
  align-items: start;
}

.app__dropdownselection-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__dropdownselection img {
  width: 18px;
  height: 18px;
}

.app__dropdownselection-menulist {
  position: absolute;
  top: 100%;
  left: -1;
  width: 100%;
  max-height: 200px;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden auto;
  background-color: var(--color-primary);
  border-color: var(--color-gold);
  color: white;
}

.app__dropdownselection-menulist ul {
  list-style-type: none;
}

.app__dropdownselection-menulist-item {
  display: flex;
  font-size: 12px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  gap: 15px;
}

.app__dropdownselection-menulist-item:hover {
  background-color: var(--color-secondary);
}

.app__dropdownselection-menulist-item-container img {
  width: 18px;
  height: 18px;
}

.fa-chevron-down {
  margin-left: 10px;
}

.fa-chevron-down.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 750px) {
  .app__dropdownselection {
    max-width: none;
  }
}
